{{/* SEO additions : overrides theme's empty head/extensions partial. */}}

<link rel="canonical" href="{{ .Permalink }}">
<meta name="robots" content="index,follow,max-image-preview:large">

{{ with .Site.Params.keywords }}
  <meta name="keywords" content="{{ delimit . ", " }}">
{{ end }}

{{ if .IsHome }}
  {{ $base := .Site.BaseURL }}
  {{ $img := "/images/moi-square.jpg" | absURL }}
  {{ $desc := .Site.Params.description }}
  {{ $person := dict
    "@type" "Person"
    "@id" (printf "%s#person" $base)
    "name" "Arthur Morisson"
    "url" $base
    "image" $img
    "jobTitle" "Développeur web indépendant, dépannage et SEO technique"
    "description" $desc
    "sameAs" (slice
      "https://www.linkedin.com/in/arthur-morisson/"
      "https://github.com/ArtGM"
      "https://stackoverflow.com/users/12807187/artmg"
      "https://www.malt.fr/profile/arthurmorisson")
    "knowsAbout" (slice
      "Développement web fullstack" "PHP" "Symfony" "Laravel"
      "JavaScript" "TypeScript" "React" "Vue.js" "Node.js"
      "SEO technique" "Core Web Vitals" "Schema.org" "Google Search Console")
  }}
  {{ $service := dict
    "@type" "ProfessionalService"
    "@id" (printf "%s#service" $base)
    "name" "Arthur Morisson, dépannage web et SEO technique"
    "url" $base
    "image" $img
    "description" $desc
    "areaServed" "FR"
    "founder" (dict "@id" (printf "%s#person" $base))
    "serviceType" (slice
      "Dépannage et maintenance de sites web"
      "Audit et optimisation SEO technique"
      "Automatisation et intégration d'outils métier")
  }}
  {{ $website := dict
    "@type" "WebSite"
    "@id" (printf "%s#website" $base)
    "url" $base
    "name" .Site.Title
    "inLanguage" "fr-FR"
    "publisher" (dict "@id" (printf "%s#person" $base))
  }}
  {{ $ld := dict
    "@context" "https://schema.org"
    "@graph" (slice $person $service $website)
  }}
<script type="application/ld+json">{{ $ld | jsonify | safeJS }}</script>
{{ end }}

{{ if and (eq .Kind "page") (eq .Type "blog") }}
  {{ $base := .Site.BaseURL }}
  {{ $img := "" }}
  {{ with .Params.image }}{{ $img = . | absURL }}{{ else }}{{ $img = "/images/moi-square.jpg" | absURL }}{{ end }}
  {{ $author := dict
    "@type" "Person"
    "@id" (printf "%s#person" $base)
    "name" "Arthur Morisson"
    "url" $base
  }}
  {{ $post := dict
    "@type" "BlogPosting"
    "@id" (printf "%s#post" .Permalink)
    "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)
    "headline" .Title
    "description" (.Params.description | default (.Summary | plainify | chomp | truncate 160))
    "image" $img
    "inLanguage" "fr-FR"
    "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00")
    "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")
    "author" $author
    "publisher" $author
    "wordCount" .WordCount
  }}
  {{ $crumbs := dict
    "@type" "BreadcrumbList"
    "itemListElement" (slice
      (dict "@type" "ListItem" "position" 1 "name" "Accueil" "item" $base)
      (dict "@type" "ListItem" "position" 2 "name" "Blog" "item" (printf "%sblog/" $base))
      (dict "@type" "ListItem" "position" 3 "name" .Title))
  }}
  {{ $ld := dict
    "@context" "https://schema.org"
    "@graph" (slice $post $crumbs)
  }}
<script type="application/ld+json">{{ $ld | jsonify | safeJS }}</script>
{{ end }}
